.loginWindow {
  width: 100%;
  position: fixed;
  top: 0px;
  background: rgba(129, 141, 163);
  opacity: 0.8;
  height: 100vh;

  .testWindow {
    opacity: 1;
    width: 500px;
    height: 90vh;
    border-radius: 10px;
    background: rgb(253, 253, 233);
    box-shadow: 1px 8px 20px 6px black;
    margin: auto;
  }
}
